.background {
  background: #F5F6F8;
  padding: 50px 50px 50px 50px ;
}



/* content right */




@media only screen and (max-width: 428px) {
  .background {
    padding: 150px 10px 50px 10px ;
  }

}