/* jumbotron */


.first__content {
    margin-top: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.content__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #A0A3BD;
}

.findnow {
    color: #5F2EEA;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    color: #5F2EEA;
}

/* content right */
.content__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_img {
    width: 107px;
    height: 353px;
    border-radius: 10px;
    margin: 0 24px;
}

.left_img {
    width: 107px;
    height: 353px;
    border-radius: 10px;
    margin-top: 60px;
}

.right_img {
    width: 107px;
    height: 353px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.img__bar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* showing */
.show__bar {
    background: #F5F6F8;
    height: 578px;
}

.showing_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 64px 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.15px;
    color: #5F2EEA;
}

.show__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #5F2EEA;
    padding-bottom: 16px;
}

.line {
    border-bottom: 3px solid #5F2EEA;
    width: 100px;
    margin: 0 auto;
}

/* card */
.card__bar {
    padding: 20px 50px;
    margin-bottom: 130px;
    height: 400px;
}

/* upcoming */
.up__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #14142B;
}

.month_content {
    margin: 0 16px;
}

.btn_month {
    padding: 12px 20px;
    border: 1px solid #5F2EEA;
    border-radius: 4px;
    text-align: center;
    margin: 0 10px;
}

.month__bar {
    padding: 64px 50px;

}

.month_content {
    margin: 0 10px;
}

.titles {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 114%;
    text-align: center;
    letter-spacing: 0.25px;
    color: #4E4B66;
}

.movies {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 114%;
    text-align: center;
    color: #5F2EEA;
}

/* form join */
.title_join {
    margin-bottom: 48px;
}

.form__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
    border-radius: 8px;
    height: 372px;
    width: 1106px;
}

.form_join {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_bar:focus {
    outline: none;
}

.input_bar {
    border: 2px solid #DEDEDE;
    border-radius: 4px;
    height: 55px;
    width: 300px;
    padding: 15px 0 15px 24px;
    margin-right: 16px;
}

.btn_join {
    background: #5F2EEA;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 17px 30px;
    color: #FFFFFF;
}

.desc {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #6E7191;
    width: 386px;
    margin-top: 40px;
}

@media only screen and (max-width: 992px) {
    .form__bar {
        width: 100%;
    }

    .btn_join {
        padding: 17px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .first__content {
        padding-top: 120px;
    }

    .content__left {
        padding-bottom: 45px;
    }

    .slogan {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 18px;
        color: #A0A3BD;
        padding-left: 50px;
    }

    .findnow {
        font-size: 2rem;
        text-align: left;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .showing_nav {
        padding: 64px 10px;
    }

    .month__bar {
        padding: 35px 0;
        margin-right: 20px;
    }

    .card__bar {
        padding: 20px 0 20px 20px;
    }
}