.container_inti {
  display: flex;
  flex-direction: row;
}

.content_left {
  background-image: url("../assets/auth_image/image_left.png");
  width: 60%;
  background-size: cover;
  /* background-position: center; */
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
}

.title_1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 0.003em;
  color: rgba(255, 255, 255, 0.8);
}


.box_tix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}



/* content right */
.content_right {
  width: 40%;
  padding: 200px 50px 200px 50px;
}

.sign_in {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.003em;
  color: #121212;
}

.sign_in_desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.007em;
  color: #AAAAAA;
  margin-top: 30px;
}

/* Email */
.input_email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 45px;
}

.input_email > label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #4e4b66;
}

.input_email > input {
  background: #fcfdfe;
  border: 2px solid #dedede;
  border-radius: 4px;
  height: 50px;
  padding-left: 20px;
  margin-top: 15px;
}

.input_email > input:focus {
  outline: none;
}

.input_email_blue {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 45px;
}

.input_email_blue > label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #4e4b66;
}

.input_email_blue > input {
  background: #fcfdfe;
  border: 2px solid #5F2EEA;
  border-radius: 4px;
  height: 50px;
  padding-left: 20px;
  margin-top: 15px;
}

.input_email_blue > input:focus {
  outline: none;
}

.input_email_red {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 45px;
}

.input_email_red > label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #4e4b66;
}

.input_email_red > input {
  background: #fcfdfe;
  border: 2px solid red;
  border-radius: 4px;
  height: 50px;
  padding-left: 20px;
  margin-top: 15px;
}

.input_email_red > input:focus {
  outline: none;
}



/* password */
.input_password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
}
.password_box {
  border: 2px solid #dedede;
  border-radius: 4px;
}
.password_box_red {
  border: 2px solid red;
  border-radius: 4px;
}
.password_box_blue {
  border: 2px solid #5F2EEA;
  border-radius: 4px;
}


.input_password > label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #4e4b66;
  margin-bottom: 15px;
}

.password_box > input {
  background: #fcfdfe;
  border-radius: 10px;
  width: 90%;
  border: none;
  border-radius: 4px;
  height: 50px;
  padding-left: 20px;
}

.password_box > input:focus {
  outline: none;
}

.password_box_red > input {
  background: #fcfdfe;
  border-radius: 10px;
  width: 90%;
  border: none;
  border-radius: 4px;
  height: 50px;
  padding-left: 20px;
}

.password_box_red > input:focus {
  outline: none;
}

.password_box_blue > input {
  background: #fcfdfe;
  border-radius: 10px;
  width: 90%;
  border: none;
  border-radius: 4px;
  height: 50px;
  padding-left: 20px;
}

.password_box_blue > input:focus {
  outline: none;
}

.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.check > input {
  width: 20px;
  height: 20px;
}

.check > p {
  padding-left: 15px;
}

.button_register {
  margin-top: 50px;
}

.register_blue {
  background: #5F2EEA;
  width: 100%;
  height: 50px;
  border: none;font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: white;
}

.register {
  background: #dedede;
  width: 100%;
  height: 50px;
  border: none;font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: white;
}

.already {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.already > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: #696F79;
}

.already > p > a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: #5F2EEA;
}

.box_or {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.box_or > p {
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: #AAAAAA;
}

.rule {
  border: 0.5px solid #DEDEDE;
  width: 80%;
}


.login_with {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.with {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  width: 40%;
  height: 60px;
  cursor: pointer;
}

.with > p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #A0A3BD;
  padding-left: 20px;
}


.title_in_phone {
  display: none;
}

.title_sign_up {
  display: none;
}


@media only screen and (max-width: 768px) {
  .content_left {
    display: none;
  }

  .content_right {
    width: 100%;
    padding: 80px 50px 80px 50px;
  }

  .title_in_phone {
    display:block;
  }
  
  .title_sign_up {
    display:block;
    font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.005em;
  color: #121212;
  margin-top: 40px;
  }

  .sign_in_desc {
    display: none;
  }

  .sign_in {
    display: none;
  }
  .with {
    width: 50%;
  }
}
