.bg {
    padding: 0 65px;
    background: #F5F6F8;
    height: 1692px;
    width: 1366px;
}

.movie_select {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #14142B;
    padding-bottom: 24px;
}

.order__bar {
    padding-top: 50px;

}

.order__desc {
    padding-top: 50px;
    border-bottom: 1px solid #E6E6E6;
}

.change_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 24px;
    height: 104px;
    width: 820px;
    border-radius: 24px;
    padding: 28px 48px;
}

.btn_change {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #5F2EEA;
    background: #EFF0F7;
    opacity: 0.8;
    border: 8px solid #EFF0F7;
    height: 48px;
    width: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.choose_seat {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #14142B;
    padding-top: 48px;
    padding-bottom: 24px;
}

.order_info {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #14142B;
    padding-bottom: 24px;
}

.oder__content {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(17, 17, 17, 0.08);
    border-radius: 16px;
    height: 413px;
    width: 382px;
    border-radius: 16px;
}

.icon_cinema_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.icon_cinema {
    height: 70px;
    width: 170px;

}

.title_cinema {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #14142B;
}

.content__desc {
    padding: 0 24px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_bottom {
    padding: 0 24px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label_order {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #6B6B6B;

}

.label_order_right {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.75px;
    color: #14142B;
}

.label_payment {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #000000;
    padding-top: 24px;
}

.total_payment {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.25px;
    color: #5F2EEA;
    padding-top: 24px;
}