.bg {
    padding: 0 65px;
    background: #F5F6F8;
    width: 1366px;
    padding-bottom: 100px;
}

.movie_select {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #14142B;
    padding-bottom: 24px;
}

.order__bar {
    padding-top: 50px;

}

.order__desc {
    padding-top: 50px;
    border-bottom: 1px solid #E6E6E6;
}

.change_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 24px;
    height: 104px;
    width: 95%;
    border-radius: 24px;
    padding: 28px 48px;
}

.btn_change {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #5F2EEA;
    background: #EFF0F7;
    opacity: 0.8;
    border: 8px solid #EFF0F7;
    height: 48px;
    width: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
}

.choose_seat {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #14142B;
    padding-top: 48px;
    padding-bottom: 24px;
}

.order_info {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #14142B;
    padding-bottom: 24px;
}

.oder__content {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(17, 17, 17, 0.08);
    border-radius: 16px;
    height: 413px;
    width: 382px;
    border-radius: 16px;
}

.icon_cinema_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_cinema {
    height: 70px;
    width: 170px;
    padding: 10px;
}

.title_cinema {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #14142B;
}

.content__desc {
    padding: 0 24px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_bottom {
    padding: 0 24px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label_order {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #6B6B6B;

}

.label_order_right {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.75px;
    color: #14142B;
}

.label_payment {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #000000;
    padding-top: 24px;
}

.total_payment {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.25px;
    color: #5F2EEA;
    padding-top: 24px;
}


.content_avail_box {
    padding-left: 120px;
    padding-top: 30px;
}

.seating_key {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #000000;
}

.box_avail {
    background-color: #D6D8E7;
    padding: 10px;
    border-radius: 6px;
}

.avail {
    padding-left: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.box_selected {
    background-color: #5F2EEA;
    padding: 10px;
    border-radius: 6px;
}

.selected {
    padding-left: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.selected2 {
    padding-left: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.box_sold {
    background-color: #6B6B6B;
    padding: 10px;
    border-radius: 6px;
}

.sold {
    padding-left: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.button_checkout {
    padding-top: 50px;
}

.change_movie {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #5F2EEA;
    border: 2px solid #5F2EEA;
    border-radius: 4px;
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.change_movie:hover {
    background: #5F2EEA;
    border-radius: 4px;
    color: white;
}

.checkout_now {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #5F2EEA;
    border: 2px solid #5F2EEA;
    border-radius: 4px;
    margin-right: 20px;
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkout_now:hover {
    background: #5F2EEA;
    border-radius: 4px;
    color: white;
}

/* Chair */
.background_seat {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 20px;
    padding: 100px 30px 100px 30px;
    width: 95%;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle_screen {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.sreen_bioskop {
    background-color: #6B6B6B;
    width: 60%;
    height: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

/* tempat duduk */
.container_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.number_chair>p {
    padding-right: 10px;
    /* margin-top: 3px; */
    /* padding-top: 10px; */
}

.chair_selected {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #5F2EEA;
    border-radius: 4px;
}

.chair_selected1 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #5F2EEA;
    border-radius: 4px;
}

.chair_sold {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #6E7191;
    border-radius: 4px;
}




/* Chair styling */
/* chair sit 1 */
.chair1 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair2 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair3 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair4 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair5 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair6 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair7 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}



/* chair sit 2 */
.chair8 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair9 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair10 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair11 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair12 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair13 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair14 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}


/* chair sit 3 */
.chair15 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair16 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair17 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair18 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair19 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair20 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair21 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}



/* chair sit 4 */
.chair22 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair23 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair24 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair25 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair26 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair27 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair28 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}



/* chair sit 5 */
.chair29 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair30 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair31 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair32 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair33 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair34 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair35 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}


/* chair sit 6 */
.chair36 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair37 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair38 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair39 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair40 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair41 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair42 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}




/* chair sit 6 */
.chair43 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair44 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair45 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair46 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair47 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair48 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

.chair49 {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 26px;
    border: none;
    background: #D6D8E7;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {

    /*Big smartphones [426px -> 600px]*/
    .bg {
        width: 100%;
        padding: 0 25px;
    }

    .change_ {
        width: 380px;
        padding: 28px 20px;
    }

    .background_seat {
        padding: 30px 30px 38px 30px;
    }

    .content_avail_box {
        padding-left: 0;
    }

    .number_chair {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (max-width: 835px) {

    /*Big smartphones [426px -> 600px]*/
    .bg {
        width: 100%;
        padding: 0 25px;
    }

    .change_ {
        margin: 0 auto;
        padding: 28px 20px;
    }

    .background_seat {
        padding: 30px 30px 38px 30px;
        margin: 0 auto;
    }

    .content_avail_box {
        padding-left: 0;
    }
}