.main-content {
  display: flex;
  gap: 2rem;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  background-color: #E5E5E5;
}

.payment-list-two button:hover{
  border: 1px solid #5F2EEA;
}

.payment-list-one button:hover{
  border: 1px solid #5F2EEA;
}

.left-content-container {
  width: 60%;
}

.right-content-container {
  width: 40%;
}

.button-box {
  width: 100%;
}

.button-box_bca > button  {
  background-image: url("../assets/payment_image/bca.png");
  background-position: center;
  background-size: content;
  object-fit: fill;
  background-repeat: no-repeat;
  width: 100%;
  height: 60px;
  border: 1px solid #dedede;
  border-radius: 20px;
  padding: 0px 80px 0px 80px ;
}

.button-box_bri > button   {
  background-image: url("../assets/payment_image/bri.png");
  background-position: center;
  background-size: content;
  object-fit: fill;
  background-repeat: no-repeat;
  width: 100%;
  height: 60px;
  border: 1px solid #dedede;
  border-radius: 20px;
  padding: 0px 80px 0px 80px ;
}
.button-box > button > img {
 
}


.payment-detail {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.container-payment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-payment label {
  padding-right:10px;
}

.container-payment input {
  float:right;
  width: 350px;
  text-align: right;
}

.container-payment input, .container-payment label {
  padding-top: 10px;
  font-size: 20px;
  border: none;
  outline: none;
}

.container-payment .list-hr {
  margin: 0;
}

/* payment method styling */

.payment-method {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.payment-list-one, .payment-list-two {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.payment-list-two {
  padding-top: 3rem;
}

.payment-list-one .button-box, .payment-list-two .button-box {
  border: 2px #e7e7e7 solid;
  border-radius: 20px;
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.payment-list-one .button-box:hover, .payment-list-two .button-box:hover  {
  /* background-color: #bababa; */
  -webkit-transition: background-color 0.7s ease-out;
}

.box_or {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.box_or > p {
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: #AAAAAA;
}

.rule {
  border: 0.5px solid #DEDEDE;
  width: 80%;
}

.payment-method .cash-term {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.payment-method .cash-term a {
  text-decoration: none;
}

.left-content-container .btn-box {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
}

.btn-prev button, .btn-pay button {
  background: none;
  height: 3.5rem;
  width: 20.5rem;
  border: none;
  border-radius: 15px;
}

.btn-box .btn-prev button {
  border: 2px solid #5F2EEA !important;
  color: #5F2EEA;
  font-size: 20px;
  font-weight: 500;
}

.btn-box .btn-pay button {
  background-color: #5F2EEA !important;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.btn-box .btn-prev button:hover {
  background-color: #5F2EEA;
  color: #fff;
  -webkit-transition: background-color 0.7s ease-out;
  -webkit-transition: color 0.3s ease-out;
}

.btn-box .btn-pay button:hover {
  background-color: #fff !important;
  border: 2px solid #5F2EEA !important;
  color: #5F2EEA;
  -webkit-transition: background-color 0.7s ease-out;
  -webkit-transition: border 0.5s ease-out;
  -webkit-transition: color 0.3s ease-out;
}

.right-content-container .personal-info-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  padding: 3rem 2.5rem 3rem 2.5rem ;
}

.personal-info-container label, .personal-info-container input {
  display: flex;
}

.personal-info-box input {
  border: #dedede solid 2px;
  border-radius: 15px;
  height: 3.4rem;
  width: 25rem;
  padding-left: 10px;
  outline: none;
}

.personal-info-container label {
  padding-bottom: 7px;
  padding-top: 37px;
  color: #696F79;
  font-size: 14px;
}

.personal-info-container .name label {
  padding-top: 0 !important;
}

.warn-notification {
  padding-top: 2rem;
}

.warn-notification .warn-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3.4rem;
  width: 25rem;
  background-color: #ffe9be;
  border-radius: 15px;
}

.payment-title, .payment-choose-title, .personal-info-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

.payment-choose-title {
  padding-top: 2rem;
}

@media screen and (max-width: 428px) {
  .main-content {
    display: flex;
    flex-direction: column-reverse;
    padding: 130px 10px 50px 10px !important;
  }

  .button-box_bri > button {
    width: 100%;
  }
  .left-content-container {
    width: 100%;
  }
  
  .right-content-container {
    width: 100%;
  }

  .container-payment input {
    float:right;
    width: 100%;
    text-align: left;
  }
  .payment-list-one, .payment-list-two {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center !important;
  }
  .payment-list-two {
    padding-top: 2rem !important;
  }

  .payment-list-one .button-box, .payment-list-two .button-box {
    height: 60px;
    width: 100%;
  }

  .left-content-container .btn-box {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 1.5rem;
    gap: 1rem;
  }

  .btn-prev button, .btn-pay button {
    height: 3.5rem;
    width: 100%;
  }

  .personal-info-box input {
    height: 3.4rem;
    width: 300px;
  }

  .warn-notification .warn-box {
    width: 300px;
  }
  .payment-title, .payment-choose-title, .personal-info-title {
    text-align: center;
  }
}