.background {
    background: #F5F6F8;
    height: 100%;
    padding: 100px 0;
}

.ticket__content {
    background: #FFFFFF;
    border-radius: 8px;
    width: 90%;
    height: 740px;
    margin: 0 auto;
    padding-top: 72px;

}

.ticket {
    margin: 0 auto;
    width: 90%;
}

.title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: #14142B;
    text-align: center;
    padding-bottom: 48px;
}

.image_container {
    height: 49px;
    width: 115px;

}

.img_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_ticket {
    height: 49px;
    width: 115px;
}



.ticket__bar {
    background: #5F2EEA;
    margin: 0 auto;
    height: 77px;
    width: 100%;
    margin: 0 auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.head_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 55px;
}

.head_right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 55px;
    position: relative;
}

.circletop {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -25px;
    left: -22px;
}

.circledown {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    bottom: -362px;
    left: -23px;
    border-top: 1px solid #DEDEDE;

}

.admit {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    text-align: right;
    letter-spacing: 0.75px;
    color: #FFFFFF;

}

.ticket__right {
    border-left: 2px dashed #DEDEDE;
}

.content_left {
    padding-left: 56px;
    height: 340px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-bottom-left-radius: 16px;
}

.content_right {
    height: 340px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-bottom-right-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.data_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}

.label {
    padding-top: 32px;
    padding-bottom: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    letter-spacing: 0.75px;
    color: #AAAAAA;
}

.label_down {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: #14142B;
}

.price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: #14142B;
}

.btn_downprint {
    text-align: center;
    height: 48px;
    width: 187px;
    border-radius: 4px;
    padding: 24px 0;
    margin: 0 auto;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4E4B66;
    border-radius: 4px;
    position: relative;
    bottom: -360px;
    height: 48px;
    width: 187px;
    right: 100px;
    cursor: pointer;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.print {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4E4B66;
    border-radius: 4px;
    position: relative;
    bottom: -312px;
    height: 48px;
    width: 187px;
    right: -110px;
    cursor: pointer;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

@media only screen and (max-width: 768px) {
    .head_right {
        position: static;
    }

    .ticket__content {
        padding-top: 120px;
    }

    .circletop {
        top: -25px;
    }

    /*Big smartphones [426px -> 600px]*/
    .content_left {
        padding-left: 20px;
    }

    .data_one {
        padding-right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .ticket__content {
        height: 1200px;
    }

    .ticket__bar {
        display: flex;
        flex-direction: row-reverse;
    }

    .content_left {
        border-bottom-left-radius: 0;
    }

    .content_right {
        border-bottom-left-radius: 16px;
        position: relative;
    }

    .ticket__right {
        border-left: none;
        border-top: 2px dashed #DEDEDE;
    }

    .circleleft {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        position: absolute;
        top: -25px;
        left: -20px;
        border-right: 1px solid #DEDEDE;
    }

    .circleright {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        position: absolute;
        top: -25px;
        right: -20px;
        border-left: 1px solid #DEDEDE;
    }

    .download {
        bottom: -725px;
        right: 0;
    }

    .print {
        bottom: -742px;
        right: 0;
    }

    /* .head_left, */
    .head_right {
        display: none;
    }
}